# Ignore everything
/*
/*/

# Except Infinity Squared
!public/
!index.php
!result.php
!header.php
!footer.php
!.gitignore
!README.md
!LICENSE.md

# But specifically ignore these things
public/config.php
public/.DS_Store
public/custom.css
public/phpqrcode/cache/*
