# Ignore everything
/*
/*/

# Except Infinity Squared
!public/
!index.php
!result.php
!header.php
!footer.php
!.gitignore

# Specifically ignore the config file
public/config.php

# And the OS X files
public/.DS_Store