# Ignore everything
/*
/*/

# Except Infinity Squared
!public/
!index.php
!result.php
!header.php
!footer.php
!.gitignore

# But specifically ignore these things
public/config.php
public/.DS_Store
public/custom.css

# Also specifically ignore the phpqrcode cache
public/phpqrcode/cache/*
