body {
	background:white;
	color:#000;
	font-family:'Ubuntu', sans-serif, Helvetica, Arial;
	font-size: 62.5%;
	width:100%;
	margin:0;
}
a {
	color:#013F6D;
	text-decoration:none;
}
a:visited {
	color:#013F6D;
	text-decoration:none;
}
p {
	font-size: 1.2em;
}
h1 {
	background: url(img/noise.png) #013F6D;
	width:100%;
	text-align:center;
	color:white;
	font-size:7em;
	border-top:4px #000 solid;
	margin:0;
	top:0
}
h1 a, h1 a:visited {
	color:white;
}
/* Menu */
.menu {
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #141414 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#141414 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#141414 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#141414 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 0%,#141414 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#141414',GradientType=0 ); /* IE6-9 */
	display: block;
	float: left;
	margin:0;
	padding:0;
	width:100%;
	color:#FFF;
	font-size:1.2em;
	border-bottom:1px grey solid;
	margin-bottom:4%;
}
.menu a {
	color: #FFF;
	text-decoration: none;
	display: block;
}
.menu li {
	list-style: none;
	float: left;
	line-height:38px;
	padding: 1% 3%;
}

/* Getting down to business */
.paragraph {
	padding-left: 2%;
}
input {
	width:98%;
	margin-top:-10px;
}

/* Footer */
footer {
	padding-left: 2%;
	line-height:150%;
	margin-bottom:0;
	text-align:center;
}
