/* Main */
body {
	background:#F1F1F1;
	color:#000;
	font-family:'Ubuntu', sans-serif, Helvetica, Arial;
	font-size: 62.5%;
}
::selection {
	background: #013F6D; /* Safari */
	color:#FFF;
}
::-moz-selection {
	background: #013F6D; /* Firefox */
	color:#FFF;
}
h2 {
	color:#000;
	margin-bottom:-8px;
}
a {
	color:#013F6D;
	text-decoration:none;
}
a:visited {
	color:#013F6D;
	text-decoration:none;
}
p {
	font-size: 1.2em;
}
/* Header */
.header {
	width:95%;
	padding:2.5%;
	margin: 0 auto;
}
h1 {
	background: url(img/noise.png) #013F6D;
	width:100%;
	text-align:center;
	color:#FFFFFF;
	font-size:7em;
	border-top:4px #000 solid;
	margin-top:0;
	margin-bottom:0;
}
h1 a {
	color:#FFF;
	text-decoration:none;
}
h1 a:hover {
	border-bottom: #FFF 1px dashed;
}
h1 a:visited {
	color:#FFF;
	text-decoration:none;
}
.menu {
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #141414 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#141414 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#141414 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#141414 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 0%,#141414 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#141414',GradientType=0 ); /* IE6-9 */
	display: block;
	float: left;
	margin: 0 auto;
	width:96%;
	color:#FFF;
	padding: 0 2% 0 2%;
	margin-bottom:30px;
	font-size:1.2em;
}
.menu a {
	color: #FFF;
	text-decoration: none;
	line-height:38px;
	display: block;
	padding: 0 10px;
	background:none;
	transition: background 800ms;
	-moz-transition: background 800ms; /* Firefox 4 */
	-webkit-transition: background 800ms; /* Safari and Chrome */
	-o-transition: background 800ms; /* Opera */
}
.menu a:hover {
	transition: background 800ms;
	-moz-transition: background 800ms; /* Firefox 4 */
	-webkit-transition: background 800ms; /* Safari and Chrome */
	-o-transition: background 800ms; /* Opera */
	background:#292929;
}
.menu li {
	list-style: none;
	float: left;
	line-height:38px;
	width:auto;
}
/* Container */
#container {
	width: 60%;
	min-width:720px;
	margin-left: auto;
	margin-right: auto; 
	background-color: #FFF;
	margin-top: 20px;
}
.paragraph {
	padding:0 2.5% 0 2.5%;
}
.right {
	width: 60%;
	float: right;
}
div.bookmarklet {
	width:20%;
}
a.bookmarklet {
	border-radius: 11px;
	background: #ddd url(../img/button.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
	background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
	border: 1px solid;
	border-color: #ddd #bbb #999;
	cursor: pointer;
	color: #333;
	font: bold 12px/1.2 Arial, sans-serif;
	outline: 0;
	overflow: visible;
	padding: 3px 10px 4px;
	text-shadow: #fff 0 1px 1px;
	text-decoration:none;
	margin-right:2%;
}
/* Tooltips */
.qtip-default, .qtip-default:after {
	border-color: #013F6D;
	background-color: #013F6D;
	color: #FFF;
}
.ui-tooltip-titlebar,
.ui-tooltip-content{
	border-color: #013F6D;
	background-color: #013F6D;
	color: #FFF;
}
/* Output */
.output {
	border: 3px #013F6D solid;
	padding: 4px;
	background: url(img/noise.png);
	border-radius: 10px;
	width:600px;
}
.output p {
	margin:2px;
}
.output a, .output a:visited {
	color:#013F6D;
	text-decoration:none;
}
.output a:hover {
	border-bottom: #013F6D 1px dashed;
}
.share-button, .twitter-share-button {
	padding-right:3px;
}
/* Footer */
.footer {
	text-align:center;
	border-top:3px solid #000;
	margin-top:30px;
}
.footer p {
	padding:20px 2% 20px 2%;
	padding:20px 2% 20px 2%;
	margin:0 auto;
}
.footer a {
	color:#013F6D;
}
.footer a:hover {
	text-decoration:none;
	border-bottom:dashed 1px #013F6D;
}
.footer a:visited {
	color:#013F6D;
}
/* Other */
div#copybox {
	width:600px;
	height:auto;
}
div#sharebox {
	height:auto;
	width:600px;
	margin-top: 20px
}
.error {
	color:red;
}
