/*
Infinity Squared CSS
https://github.com/tomslominski/infinity-squared
*/

/* Set up */
* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background: #F1F1F1;
	color: black;
	font-family: 'Ubuntu', sans-serif, Helvetica, Arial;
	font-size: 1.4rem;
}

::selection {
	background: rgba(1,63,109,0.7);
	color: #FFF;
}

::-moz-selection {
	background: rgba(1,63,109,0.7);
	color: #FFF;
}

/* Structure and global design */
a, a:visited {
	color: #013F6D;
	text-decoration: none;
}

.wrapper {
	width: 60%;
	margin: 0 auto;
}

.content {
	background: white;
	padding: 15px;
	margin-top: 15px;
	border: 1px solid #D8D8D8;
	box-shadow: 0 0 3px 0 #CCC;
}

/* Header */
.site-header {
	margin: 0 auto;
	padding: 0;
}

.site-title {
	background-color: #013F6D;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 7rem;
	border-top: 4px #000 solid;
	margin: 0 auto;
}

.site-title a, .site-tite a:visited {
	color: white;
	text-decoration: none;
}

.site-title a:hover {
	border-bottom: #FFF 1px dashed;
}

.menu {
	background: black;
	margin: 0 auto;
	width: 100%;
	color: white;
}

.menu a {
	color: #FFF;
	text-decoration: none;
	display: inline-block;
	padding: 12px;
	background: none;
	transition: background 0.8s;
}

.menu a:hover {
	transition: background 0.8s;
	background: #292929;
}

/* Forms */
.form-item {
	padding: 10px 0;
}

.form-item p {
	margin: 0;
}

.full-width {
	width: 100%;
}

.half-width {
	width: 49%;
}

.halves {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	align-items: flex-end;
	-webkit-align-items: flex-end;
	-moz-align-items: flex-end;
}

label {
	display: inline;
	line-height: 2rem;
}

label.primary {
	font-weight: bold;
}

label.secondary {
	color: #AFAFAF;
}

input {
	font-family: 'Ubuntu', sans-serif, Helvetica, Arial;
}

input:not([type=submit]):not([type=file]) {
	width: 100%;
	padding: 10px;
	font-size: 1.6rem;
	border: 1px solid #D8D8D8;
	margin-top: 5px;
	transition: box-shadow 0.5s, border 0.5s;
}

.g-recaptcha {
	margin-top: 5px;
}

input:not([type=submit]):not([type=file]):focus {
	box-shadow: 0px 0px 8px 0px rgba(1,63,109,0.59), inset 0px 0px 1px 0px rgba(0,0,0,1);
	border-color: #013F6D;
	outline: none;
}

input[type=submit] {
	font-size: 1.4rem;
	padding: 10px;
	border-radius: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.button {
	background: #F9F9F9;
	border: 1px solid #D3D3D3;
	transition: background 0.5s;
	cursor: pointer;
}

.button:hover {
	background: #E2E2E2;
}

.submit-container {
	text-align: right;
}

/* Output */
.error {
	color: red;
	font-weight: bold;
	text-align: center;
}

.copy-button {
	margin-top: 2px;
	margin-left: 0;
}

.social-sharer {
	display: inline-block;
	padding: 0 2px;
}

svg#url-qr-code {
	width: 50%;
	height: 50%;
}

/* Bookmarklet */
.bookmarklet-container {
	text-align: center;
	margin: 20px 0;
}

.bookmarklet {
	padding: 7px;
	font-size: 1.4rem;
	color: black;
}

.icon-move svg {
	vertical-align: center;
	height: 1.2rem;
	width: 1.2rem;
	margin-right: 3px;
}

/* Footer */
.footer {
	text-align: center;
	border-top: 2px solid #000;
}

.footer p {
	font-size: 1.2rem;
	margin: 0;
}

.footer a:hover {
	text-decoration: none;
	border-bottom: dashed 1px #013F6D;
}

.icon-github svg {
	height: 1.2rem;
	width: 1.2rem;
	transition: fill 0.5s;
}

.icon-github svg:hover {
	fill: #013F6D;
}

a.icon-github:hover {
	border-bottom: none;
}

/* Mobile */
@media screen and (max-width: 720px) {
body {
	background:white;
	margin:0;
}

#container {
	min-width:0;
	width:100%;
	margin:0;
	padding:0;
}

header {
	width:100%;
	padding:0;
}

.menu li {
	margin-top:0;
}

.desktop-only, .zclip {
	display:none;
}
}

/* Error page */
#wrap > h1 > a {
	display: none;
}

#wrap > h2,
#wrap > p {
	color: red;
}

/* Importing custom user styles */
@import url("public/user-style.css");
