/*
Infinity Squared CSS
https://github.com/tomslominski/infinity-squared
*/

/* Set up */
* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background: #F1F1F1;
	color: black;
	font-size: 1.4rem;
}

body, input {
	font-family: 'Open Sans', 'Trebuchet MS', Helvetica, sans-serif;
}

::selection {
	background: rgba(1,63,109,0.7);
	color: #FFF;
}

::-moz-selection {
	background: rgba(1,63,109,0.7);
	color: #FFF;
}

.desktop-only {
	display: none;
}

@media screen and (min-width: 1024px) {
	.desktop-only {
		display: inline-block;
	}
}

.load * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

/* Structure and global design */
a, a:visited {
	color: #013F6D;
	text-decoration: none;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	max-width: 900px;
}

.content {
	background: white;
	padding: 15px;
	margin-top: 15px;
	border: 1px solid #D8D8D8;
	box-shadow: 0 0 3px 0 #CCC;
}

.hidden {
	display: none;
}

@media screen and (min-width: 720px) {
	.wrapper {
		width: 80%;
	}
}

@media screen and (min-width: 1024px) {
	.wrapper {
		width: 60%;
	}
}

/* Header */
.site-header {
	margin: 0 auto;
	padding: 0;
}

.site-title {
	display: block;
	width: 100%;
	text-align: center;
	background: #013F6D;
	border-top: 4px #000 solid;
	transition: background 0.5s;
}

.site-title h1 {
	font-size: 4rem;
	font-weight: bold;
	color: white;
	margin: 0;
}

.site-tite:visited h1 {
	color: white;
	text-decoration: none;
}

.site-title:hover {
	background: #0D4B78;
}

.menu {
	background: black;
	margin: 0 auto;
	width: 100%;
	color: white;
}

.menu a {
	color: #FFF;
	text-decoration: none;
	display: inline-block;
	padding: 12px;
	background: none;
	transition: background 0.8s;
}

.menu a:hover {
	transition: background 0.8s;
	background: #292929;
}

@media screen and (min-width: 720px) {
	.site-title h1 {
		font-size: 5rem;
	}
}

@media screen and (min-width: 1024px) {
	.site-title h1 {
		font-size: 6rem;
	}
}

/* Forms */
.form-item {
	padding: 10px 0;
}

.form-item p {
	margin: 0;
}

.full-width {
	width: 100%;
}

.half-width {
	width: 49%;
}

.halves {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	align-items: flex-end;
	-webkit-align-items: flex-end;
	-moz-align-items: flex-end;
}

label {
	display: inline;
	line-height: 2rem;
}

label.primary {
	font-weight: bold;
}

label.secondary {
	color: #AFAFAF;
}

input:not([type=submit]):not([type=file]) {
	width: 100%;
	padding: 10px;
	font-size: 1.6rem;
	border: 1px solid #D8D8D8;
	margin-top: 5px;
	transition: box-shadow 0.5s, border 0.5s;
	-webkit-appearance: none;
	border-radius: 0;
}

.g-recaptcha {
	margin-top: 5px;
}

input:not([type=submit]):not([type=file]):focus {
	box-shadow: 0px 0px 8px 0px rgba(1,63,109,0.59), inset 0px 0px 1px 0px rgba(0,0,0,1);
	border-color: #013F6D;
	outline: none;
}

input[type=submit] {
	font-size: 1.4rem;
	padding: 10px;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.button {
	background: #F9F9F9;
	border: 1px solid #D3D3D3;
	transition: background 0.5s;
	cursor: pointer;
	margin: 0;
	padding: 7px;
	display: inline-block;
}

.button:hover, .zeroclipboard-is-hover {
	background: #E2E2E2;
}

.submit-container {
	text-align: right;
}

/* Output */
.error {
	text-align: center;
}

.error p.message {
	margin-bottom: 30px;
}

.error p .key {
	font-weight: bold;
}

.copy-button {
	margin-top: 2px;
}

.copy-button:focus {
	outline: none;
}

.social-button {
	display: inline-block;
	border-color: #F0F0F0;
	font-size: 0;
	margin-right: 2px;
	transition: opacity 0.5s;
}

.social-button:hover {
	opacity: 0.85;
}

.social-button svg {
	width: 40px;
	height: 40px;
	padding: 6px;
	fill: white;
}

.social-button.twitter {
	background-color: #55ACEE;
}

.social-button.appdotnet {
	background-color: #49474B;
}

.social-button.facebook {
	background-color: #3B5998;
}

.social-button.tumblr {
	background-color: #35465C;
}

.social-button.linkedin {
	background-color: #0976B4;
}

.social-button.googleplus {
	background-color: #DD4B39;
}

.social-button.vk {
	background-color: #4D7198;
}

svg#url-qr-code {
	width: 50%;
	height: 50%;
}

/* Bookmarklet */
.bookmarklet-container {
	text-align: center;
	margin: 20px 0;
}

.bookmarklet {
	font-size: 1.4rem;
	color: black;
}

.icon-move svg {
	vertical-align: center;
	height: 1.2rem;
	width: 1.2rem;
	margin-right: 3px;
}

/* Footer */
.site-footer {
	text-align: center;
	border-top: 2px solid #000;
}

.site-footer p {
	font-size: 1.2rem;
	margin: 0;
}

.site-footer .recaptcha-cookie {
	margin-top: 5px;
	color: #AFAFAF;
}

.site-footer a:hover {
	text-decoration: none;
	border-bottom: dashed 1px #013F6D;
}

.icon-github svg {
	height: 1.2rem;
	width: 1.2rem;
	transition: fill 0.5s;
}

.icon-github svg:hover {
	fill: #013F6D;
}

a.icon-github:hover {
	border-bottom: none;
}

/* Mobile */
/*@media screen and (max-width: 720px) {
body {
	background:white;
	margin:0;
}

#container {
	min-width:0;
	width:100%;
	margin:0;
	padding:0;
}

header {
	width:100%;
	padding:0;
}

.menu li {
	margin-top:0;
}

.desktop-only, .zclip {
	display:none;
}
}*/

/* Error page */
#wrap > h1 > a {
	display: none;
}

#wrap > h2,
#wrap > p {
	color: red;
}
