/*
Infinity Squared CSS
https://github.com/tomslominski/infinity-squared
*/

/* Structure */
html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	background: #F1F1F1;
	color: black;
	font-family: 'Ubuntu', sans-serif, Helvetica, Arial;
}

.wrapper {
	width: 60%;
	margin: 0 auto;
}

#container {
	width: 60%;
	min-width: 720px;
	margin: 0 auto;
	background-color: white;
}

/* General */
::selection {
	background: rgba(1,63,109,0.7);
	color: #FFF;
}

input::selection {
	background: rgba(1,63,109,0.7);
	color: #FFF;
}

::-moz-selection {
	background: rgba(1,63,109,0.7);
	color: #FFF;
}

input::-moz-selection {
	background: rgba(1,63,109,0.7);
	color: #FFF;
}

a, a:visited, .footer a, .footer a:visited {
	color: #013F6D;
	text-decoration: none;
}

p, a {
	font-size: 1.2em;
}

@font-face {
	font-family: 'icons';
	src:url('fonts/icons.woff') format('woff'),
		url('fonts/icons.ttf') format('truetype'),
		url('fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Header */
header {
	margin: 0 auto;
	padding-top: 10px;
}

h1 {
	background-color: #013F6D;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 7rem;
	border-top: 4px #000 solid;
	margin: 0 auto;
}

h1 a, h1 a:visited {
	color: white;
	text-decoration: none;
}

h1 a:hover {
	border-bottom: #FFF 1px dashed;
}

.menu {
	background: black;
	display: block;
	margin: 0 auto;
	/*width: 96%;*/
	width: 100%;
	color: white;
	/*padding: 0 2% 0 2%;*/
	/*margin-bottom: 30px;*/
}

.menu a {
	color: #FFF;
	text-decoration: none;
	/*line-height: 38px;*/
	display: inline-block;
	padding: 12px;
	background: none;
	/*width: auto;*/
	transition: background 800ms;
	-moz-transition: background 800ms; /* Firefox 4 */
	-webkit-transition: background 800ms; /* Safari and Chrome */
	-o-transition: background 800ms; /* Opera */
}

.menu a:hover {
	transition: background 800ms;
	-moz-transition: background 800ms; /* Firefox 4 */
	-webkit-transition: background 800ms; /* Safari and Chrome */
	-o-transition: background 800ms; /* Opera */
	background: #292929;
}

/*.menu li {
	list-style: none;
	float: left;
	line-height: 38px;
	width: auto;
}*/

/* Main style */
.content {
	background: white;
}

h2 {
	color: black;
	margin-bottom: -8px;
}

.right {
	width: 60%;
	float: right;
}

.radio {
	margin-right: 10%;
}

input[type="radio"] {
	margin-right: 1%;
}

.bookmarklet:before {
	font-family: 'icons';
	content: "\e600";
	margin: 2px;
}

/* reCAPTCHA */
.recaptcha-container {
	font-size: 1.2em;
	overflow: hidden;
}

/* Tooltips */
.qtip-default {
	border-color: #013F6D;
	background-color: #013F6D;
	color: #FFF;
}

.ui-tooltip-titlebar,
.ui-tooltip-content{
	border-color: #013F6D;
	background-color: #013F6D;
	color: #FFF;
}

/* Output */
.output label {
	width: 30%;
	float: left;
}

.output input {
	width: 70%
}

.error {
	color: red;
	padding-bottom: 20px;
	font-weight: bold;
	text-align: center;
	font-size: 1.2rem;
}

.social-sharer {
	display: inline-block;
	padding: 0 2px;
}

.output label {
	width: 20%;
}

.output input {
	width: 60%
}

.output button {
	float: right;
}

.output button.active {
	color:#013F6D;
}

svg#url-qr-code {
	width: 50%;
	height: 50%;
}

/* Footer */
.footer {
	text-align: center;
	border-top: 2px solid #000;
	margin-top: 30px;
}

.footer p {
	padding: 2%;
	margin: 0 auto;
	font-size: 1.1em;
}

.footer a {
	font-size: 1.1em;
}

.footer a:hover {
	text-decoration: none;
	border-bottom: dashed 1px #013F6D;
}

/* Mobile */
@media screen and (max-width: 720px) {
body {
	background:white;
	margin:0;
}

#container {
	min-width:0;
	width:100%;
	margin:0;
	padding:0;
}

header {
	width:100%;
	padding:0;
}

.menu li {
	margin-top:0;
}

.desktop-only, .zclip {
	display:none;
}
}

/* Error page */
#wrap > h1 > a {
	display: none;
}

#wrap > h2,
#wrap > p {
	color: red;
}

/* Importing custom user styles */
@import url("public/user-style.css");
